*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.footerContainer footer{
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
